//variables

$grey: #777;
$turquoise: #58e1c1;
$maya-blue: #51ddfc;
$lilac-bush: #927bc1;
$coral: #fd7856;
$wisteria: #deb2ee;
$electric-blue: #7ee6fd;
$eastern-blue: #88d9a0;
$boston-blue: #4da2bb;
$wax-flower: #ec9fa3;
$mona-lisa: #fd9f85;
$froly: #e4757a;
$emerald:#63cc82;
$turquoise-blue: #80e8d1;
$white: #fff;
$very-light-grey: #ccc;
$black:#000000;
$navbarcolor:#523aa6;
$navlinkcolor:#00ff1d;
$chartbarcolor:#11d455;
$light-grey:#ede7e6;

$container-background:#26ad77;
$gallery-card:#dfedea;
$gallery-card-hover: #0afcc4;
$gallery-header:#1c9c80;
//media query: 
$mobile-view: 320px;
$desktop-view: 768px;
$big-desktop-view: 1024px;
//sizes

$primary-size: 10px;
$secondary-size: 20px;
$third-size: 5px;
$one-px-size: 1px;
