//mobile 320px 

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

.container {
    display: grid;
    width: 100%;
    grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer'
    ;
    grid-template-rows: auto;
}

// //768px desktop view
// @include media-query($desktop-view){
//     .container{
//         grid-template-areas: 
//             'nav header'
//             'nav main'
//             'nav footer'
//         ;
//         grid-template-columns: 100px 1fr;
//     }
// }


// //768px desktop view
// @include media-query($big-desktop-view){
//     .container{
//         grid-template-areas: 
//             'nav header'
//             'nav main'
//             'nav footer'
//         ;
//         grid-template-columns: 500px 1fr;
//     }
// }