header{
    background-image: linear-gradient(to bottom right,$black,$black,$black,$boston-blue,$body-one);
    h1{
        margin: 20px auto;
        width: 90%;
        color: white;
        font-size: 500;
    }
}