.model {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    //target only selectd part for opacity instead of whole model content 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.8);
    z-index: 1; /* Sit on top */
    overflow: auto;
  }
    
    /* Modal Content */
    .model-content {
      position: relative;
      width: 80%;
      max-width: 370px;
      max-height: 430px;
      margin:30px auto;
      padding-bottom: 15px;
      background: rgba(0, 255, 205,1);
      border-radius: 0.25em;
      border: 1px solid rgba(100, 100, 100, 0.2);
      transition: .4s ease-out;
      font-size: 13px;
      .btn-close{
        float: right;
        background: $froly;
        color: $white;
      }
      .btn-forward-back{
        //flex display for the buttons
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        //shape the buttons 
        .previous, .forward{
          background: $froly;
          border-radius: 0.25em;
          border: 1px solid rgba(0, 255, 205,1);
          padding: 5px 10px;
          color: $white;
        }
      }
      .project-technologies,.project-description{
        width: 95%;
        margin: auto;
      }
      hr{
        width: 90%;
        color: $black;
      }
    }

    .show{
        display: block;
    }

    .hide{
        display: none;
    }