nav{
    width: 100%;
    display: none;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;
        background-image: linear-gradient(to right, $froly, $coral, $froly);
        height: 200px;
        text-align: center;
        padding: 0;
        margin: 0 0 40px 0;
        li{
            padding: 22px 0;
            a{
                width: 100%;
                margin: auto;
                color: $white;
                font-size: 20px;
            }
        }
        li:hover{
            background-image: linear-gradient(to right, $navbar, $body-one,$navbar);
        }
    }
}


.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}


@include media-query($desktop-view){

    #container{
        transition: margin-left 0.5s;
    }

    nav{
        
        display: block;
        ul{
            display: block;
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 50px;
            margin: unset;
            li{ 
                a{
                    top: 100px;
                    padding: 8px 8px 8px 20px;
                    text-decoration: none;
                    font-size: 25px;
                    color: $white;
                    display: block;
                    transition: 0.3s;
                }
            }
        }
    }

    .menu-close-sidebar{
        position: absolute;
        top: 0;
        right: 0;
        font-size: 36px;
        fill: $white;
    }
}